.pagination-wrapper {
  font-size: 0.8em;
  color: #999999;
}
.pagination {
  margin: 0;
  padding: 10px 0;
  .pagination__item {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    &.disable {
      cursor: auto;
      pointer-events: none;
      span {
        border-bottom: 1px solid #999;
      }
    }
  }
}
