.about-page.panel-cover {
  .panel-cover__title {
    color: #fff;
  }
  .panel-main__inner {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}
