.button {
  padding: 10px 20px;
  border: 1px solid #006699;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #006699;
  -webkit-font-smoothing: antialiased;
}
