body {
  overflow-x: hidden;
}
.blog {
  width: 100%;
  &-view,
  img {
    max-width: 960px;
  }
  .error {
    padding: 20px 0;
  }
  .retry {
    margin-left: 20px;
    border-bottom: 1px solid #666;
    cursor: pointer;
  }
  .title {
    margin: 1.5rem 0 2.7rem;
    text-align: center;
  }
  .left-side {
    position: fixed;
    max-width: 430px;
    width: 80%;
    left: 0;
    top: 0;
    height: 100%;
    transition: left 1s;
    z-index: 5;
    .panel-cover {
      position: absolute;
      left: 0;
    }
    .cover-navigation,
    .navigation {
      width: 100%;
      padding: 0;
    }
    .navigation {
      &__item {
        display: block;
        width: 100%;
        margin: 5px auto;
      }
    }
    .button {
      padding: 8px 10px;
      font-size: 1em;
      border: none;
    }
  }
  .menu-button {
    display: none;
    position: absolute;
    top: 0;
    right: -30px;
    transition: right 1s;
    z-index: 9999;
  }
  .menu-button.close {
    right: 0;
  }
  .content-side {
    position: absolute;
    left: 430px;
    right: 0;
    padding: 2rem 3rem;
    transition: all 1s;
    overflow: hidden;
  }
}

@media all and (max-width: 1060px) {
  .blog {
    .menu-button {
      display: block;
    }
    .left-side {
      left: -430px;
    }
    .left-side.show {
      left: 0;
    }
    .content-side {
      left: 0;
    }
    .content-side.show-left-side {
      transform: translateX(430px);
    }
  }
}

@media all and (max-width: 537px) {
  .blog {
    .left-side {
      left: -80%;
    }
    .content-side.show-left-side {
      transform: translateX(80%);
    }
  }
}

@media all and (max-width: 480px) {
  .blog {
    .menu-button {
      display: none;
    }
    .left-side {
      position: relative;
      left: 0;
      top: 0;
      height: 250px;
      width: 100%;
      max-width: none;
      transition: none;
    }
    .content-side.show-left-side,
    .content-side {
      padding: 0 1em;
      transition: none;
      transform: translateX(0);
    }
    .navigation-wrapper {
      position: relative;
      .navigation {
        &__item {
          display: inline-block;
          width: 30%;
          font-weight: lighter;
        }
      }
    }
  }
}
