.footer {
  display: block;
  padding: 2em 0 0 0;
  font-size: 0.7em;
  color: #b3b3b3;
  border-top: 2px solid #ddd;
  &__copyright {
    display: block;
    margin-bottom: 0.7em;
    a {
      color: #a6a6a6;
      text-decoration: underline;
      &:hover {
        color: #006699;
      }
    }
  }
}
